<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Course</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    <div id="root">
        <div id="bag" v-if="!ended"></div>
        <div v-if="ended" id="bag" class="burst"></div>
        <div id="bag-health">
            <div v-bind:style="{width: health + '%'}"></div>
        </div>
        <div>
            <button v-on:click="decreaseHealth(18)" v-if="!ended">PUNCH</button>
            <button v-on:click="restartGame()">RESTART</button>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>